@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BreePeru-Bold';
  src: url('../../public/tipografia/BreePeru-Bold.ttf');
}

@font-face {
  font-family: 'BreePeru-Light';
  src: url('../../public/tipografia/BreePeru-Light.otf');
}

@font-face {
  font-family: 'BreePeru-Regular';
  src: url('../../public/tipografia/BreePeru-Regular.otf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/hands.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
